/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.container:hover{
    border: 2px solid blueviolet;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
hr:hover{
    border: 1px solid #f44336;
}
/* header style  */
header{
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    margin-bottom: 22px;
    
}
.logo{
    display: flex;
    position: relative;
    left: 290px;
    top: 24px;
    
}
.logo img{
    width: 40px;
    height: 51px;
    
}
.logo img:hover{
    border: 2px solid #f44336;
}
.logo h3{
    color: white;
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content:space-between;
   
}
nav ul{
    display: flex;
    text-decoration: none;
    padding: 30px;
    position: relative;
    right: 260px;
    margin-top: -5px;

}
nav ul li{
    list-style: none;
    padding: 20px;
}
nav ul li a{
    color: white;
    font-size: 19px;
    margin-right: 15px;
    text-decoration: none;
}


nav a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
nav a:hover::after{
    width: 100%;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}

.profile img{
    margin-top: -15px;
}
.profile::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.profile:hover::after{
    width:100%;
    
}

    @media only screen and (max-width:688px){
        .checkbtn{
            display: block;
            margin-left: 20px;
           
            
        }
        nav{
            position: relative;
        }
      
        nav ul{
            
            position: relative;
            overflow: hidden;
            width:100%;
            height: 25px;
            background-color: rgba(159, 159, 159, 0.336);
            top: 80px;
            left: -100%;
            
            transition: all .5s;
        }
        nav ul li{
            
           display: block;
            margin-top: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
          
            
            font-size: 20px;
        }
        a:hover,a.active{
            background: none;
            color: #0082e6;
        }
        #check:checked ~ ul{
            left: 0;
        }
    }
/* top player style  */

.top-players{
    margin-bottom: 29px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
    text-align: center;

}
.section-title::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.section-title:hover::after{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    /* grid-template-columns: 1fr 1fr 1fr ; */
}
.player{
    display: flex;
    align-items: center;
   
}
.player img{
    width: 56px;
    height: 56px;
   
}
.player img:hover{
    border-radius: 50%;
    border: 2px solid  #f44336;
}

.player-name{
    padding: 16px;
    font-size: 18px;
}
.player-name::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.player-name:hover::after{
    width: 100%;
}

/* top blog style  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;    
}

.blog{
    display: flex;
}
.blog .thumbnil img{
    width: 177px;
    height: 117px;
}
.blog .thumbnil:hover{
    height: 117px;
    border-radius: 10px;
    border: 2px solid #f44336;
}
.blog-info{
    margin-left: 18px;
}
.blog-title{
    font-size: 20px;
}
.blog-title::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.blog-title:hover::after{
    width: 100%;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.blog-author:hover::after{
    width: 100%;
}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}
/* Course style  */
.x{
    margin-bottom: 24px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
   
    
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course .course-banner img:hover{
    height: 117px;
    border-radius: 10px;
    border: 2px solid #f44336;
}
.course-title{
    font-size: 20px;
}
.course-title::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.course-title:hover::after{
    width: 100%;
}
.course-author{
    color: coral;
}
.course-author::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.course-author:hover::after{
  
    width: 100%;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.course-info:hover{
    border: 2px solid #f44336;
}
.course-info span{
    margin-left:10px;
}


.fa-star{
    font-size: 12px;
}
.fa-star.empty{
    color: #D1D1D1;
}
.fa-star.filled{
    color: #FFC014;;
}
.course-duration{
    color: #FF4A60;
    font-size: 14px;
    border-radius: 30px;
    background-color: rgb(240, 210, 213);
    padding: 5px;
}
/* Media queries */
/* mobile device */
@media only screen and (max-width:688px){
   .container{
    width: 100%;
    
   }

    .players,.blogs,.courses{
       
        grid-template-columns: repeat(1,1fr);

    }
    .player,.blogs{
        justify-content: center;
        flex-direction: column;
    }
     .courses{
        
    }
}
/* tablet device */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
        padding: 10px;
    }
   .players ,.courses{
       grid-template-columns: repeat(2,1fr);
   }
   .blogs{
       grid-template-columns: repeat(1,1fr);
   }
}